.App {
  text-align: center;
}

h1, h3 {
  margin: 0;
  padding: 5px;
}

header {
  width: 100vw;
  height: 10vh;
  text-align: center;
  background-color: #014307;
  color: #fff;
  font-family: 'roboto';
  overflow-y: auto;
}

.moles {
  width: 100vw;
  height: 90vh;
  text-align: center;
  background-color: #92610076;
}

.moleContainer {
  width: 33.33vw;
  height: 30vh;
  display: inline-block;
  text-align: center;
}

img {
  height: 95%;
}